.menu-bar, .menu-overlay{ 
  position: fixed;
  top: 0;left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200; 
 }
 .menu-bar, .menu-bar.animate{
  transition: .45s ease;
 }
 .menu-bar.animate{
    background-color: rgb(240, 14, 14, 0.73);
    
 }
 .phoneNumber{
   margin-right: 90px;
 }
.menu-overlay-bar{
    position: fixed;
    top: 0;left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .menu-bar a, .menu-open p {
    color: #fff;
    cursor: pointer;
 }

 .menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    background-color: #f00e0e;
    z-index: 202;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%,100% 0%, 0% 0%);
 }

 .menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
 }

 .menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
 }

 .menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
 }

 .menu-close-icon p {
    font-size: 70px;
    -webkit-text-stroke: #c5fb45;
    line-height: 170%;
 }
 .menu-link{
    position: relative;
    transition: 0.45s ease;
    /* border: 1px solid magenta; */
 }
 .menu-link::before{
    content: "";
    opacity: 0;
    width:  20px;
    height: 5px;
    background-color: rgb(170, 22, 22);
    position: absolute;
    top:0;
    right: -10px;
    animation: fadeup 1s ease;
 }

 @keyframes fadeup {
    0% {opacity: 0; transform:translateY(
        "-10px"
    )}
    100% {opacity: 1; transform:translateY(0)}
 }
 .menu-link:hover, .menu-link::before{
    animation: fadeup 1s ease;
 }



 .menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 }

 .menu-link-item-holder{
    position: relative;
 }

 .menu-link-item-holder a {
    color: #000;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 85%;
 }

 .menu-info {
    display: flex;
    /* flex-direction: column; */
    padding-top: 4em;
    justify-content: flex-end;
 }

 .menu-info-col{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }

 @media screen and (max-width: 900px){
    .menu-close-icon,.phoneNumber{
        display: none;
    }
    .menu-copy{
        padding-top: 8em;
    }
    .menu-link-item-holder a {
        font-size: 30px;
    }
 }